<!DOCTYPE html>
<html>
    <head>
        <title>Area of a Triangle</title>
    </head>
    <body>
        <h1>
            Computes for the area of the Triangle.
        </h1>

        <form action="/trianglearea" method="post">
            <label for="theBase">Provide the Base:</label>
            <input type="text" id="theBase" name="theBase">
            <label for="theHeight">Provide the Height:</label>
            <input type="text" id="theHeight" name="theHeight">
            <input type="submit" value="Calculate">
        </form>
        
         {% if result == "valueError" %}
            <p>Input is invalid. Please add a number, not a string.</p>
        {%endif%}
         {% if result != None %}
          {% if result != "valueError"%}
            <p>Area calculated: {{ result }}</p>
            {%endif%}
        {%endif%}
    </body>
</html>